html {
    background-color: gray;
    height: 100%;
    font-size: 16px;
}

body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    max-width: 794px;
    min-height: 100%;
    padding: 114px;
    margin: auto;
    
    background-color: white;
    
    font-family: "Computer Modern", serif;
    
    text-align: justify;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

h1 small, h2 small {
    display: block;
    margin-bottom: 34px;
    
    font-size: 2rem;
}

h1 { /* part */
    text-align: center;
    font-size: 33px;
    
    /*
    margin-top: 9cm;
    margin-bottom: 16cm;
    */
    margin-top: 143px;
    margin-bottom: 143px;
}

h2 { /* chapter */
    font-size: 33px;
    
    margin-top: 143px;
    margin-bottom: 60px;
}

h3 { /* section */
    font-size: 1.44em;
    
    margin-top: 39px;
    margin-bottom: 16px;
}

h4 { /* subsection */
    font-size: 1.2em;
    
    margin-top: 27px;
    margin-bottom: 10px;
}

h5 { /* subsubsection */
    font-size: 1em;
}

p {
   -webkit-hyphens: auto;
      -moz-hyphens: auto;
           hyphens: auto;

    line-height: 120%;
    margin: 0;
}

p + p {
    text-indent: 1.5em;
}

.title {
  margin: 24px;
  
  text-align: center;
  font-size: 1.44em;
}

.title>div {
  margin: 1em; 
}

.title>.author, .title>.date {
  font-size: 0.7em; 
}

strong {
  font-weight: bold;
}

pre {
  font: 1em "Computer Modern Typewriter", monospace;
  white-space: pre-wrap;
  word-break: break-all;
}
